body {
  line-height:1.5em;
  font-size:16px;
  background-color:#F9F9FA;
  padding:0;margin:0;
  // font-family: Helvetica,Arial,sans-serif;
}

.workflow-tree-page {
  margin:20px auto;
  width:900px;
  background-color:white;
  border:solid 1px #e7e7e7;
  min-height:900px;
  padding:30px 40px;
  position:relative;

  .editor {
    position:absolute;
    overflow:hidden;
    z-index:1;
    textarea {
      resize:none;
      border:0 none;
      padding:0;margin:0;
      height:100%;line-height:1.5em;
      background-color:#eee;
      background-color:rgba(#eee, 0.5);
      // font-family: Helvetica,Arial,sans-serif;
      font-size:16px;
      width:100%;
    }
  }

  .wfnode {

    >.joint {
      width:18px;height:18px;
      color:#666;
      font-size:24px;
      font-family:arial;
      line-height:19px;
      text-indent:5px;
      z-index:6;
      height:18px;width:18px;
      background-color:transparent;
      border-radius:12px;
      float:left;
      margin-top:4px;
    }
    >.text {
      cursor:text;
      margin-left:24px;
    }

    >.children {
      padding-left:20px;
    }

    &.root {
      >.joint {display:none;}
      >.text {color:red;display:none;}
      >.children {padding-left:0;}
    }
  }
}